commands:
  01_get_node_version:
    command: "node -v > /tmp/node_version"
  02_install_nvm:
    command: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash"
  03_load_nvm:
    command: ". ~/.nvm/nvm.sh"
  04_install_node:
    command: "nvm install $(cat /tmp/node_version) && nvm use $(cat /tmp/node_version)"
  05_install_yarn:
    command: "npm install -g yarn"
  06_run_yarn_install:
    command: "yarn install --frozen-lockfile"